<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Cadastro de usuário</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="login">Login</label>
      <div class="col-md-4">
        <input id="login" name="login" type="text" placeholder="login" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="login">Senha</label>
      <div class="col-md-4">
        <input id="senha" name="senha" type="text" placeholder="senha" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="nome">Nome</label>
      <div class="col-md-6">
        <input id="nome" name="nome" type="text" placeholder="nome" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="telefone">Telefone</label>
      <div class="col-md-4">
        <input id="telefone" name="telefone" type="text" placeholder="telefone" class="form-control input-md">

      </div>
    </div>

  </fieldset>
</form>