<div [@routerTransition]>
  <app-page-header [heading]="'Usuários'" [icon]="'fa-table'"></app-page-header>
  <div class="row" style="padding-left: 2%;">
    <a class="btn btn-primary">Adicionar</a>
  </div>
  <div class="row">
    <div class="card-body table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Login</th>
            <th>Nome</th>
            <th>Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarioList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{usuario.login}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.telefone}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>